<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document Details</title>
    <link rel="syleshteet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">

    <div class="sidebar">
        <h2>DocSystem</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/documents" class="active">Documents</a>
    </div>

    <div class="main">
        <div class="card">
            <h1 id="docTitle">Loading...</h1>
            <p th:text="${document?.documentContent ?: 'No content' }"></p>

            <div style="margin:20px 0;">
                <span th:class="${document.status == 'APPROVED'} ? 'badge badge-approved' : (${document.status == 'PENDING'} ? 'badge badge-pending' : 'badge badge-rejected')"
                      th:text="${document.status}"></span>
            </div>

            <p><strong>Current Version:</strong> <span th:text="${document.version}"></span></p>
            <p><strong>Owner:</strong> <span th:text="${document.username}"></span></p>

            <div style="display:flex; gap:10px; margin-top:25px;">
                <button class="btn btn-primary">Upload New Version</button>
                <button class="btn btn-primary" onclick="approveDoc()">Approve</button>
                <button class="btn btn-danger" onclick="rejectDoc()">Reject</button>
                <button class="btn btn-done" onclick="versionDone()">Done</button>
            </div>
        </div>

        <div class="table-box" style="margin-top:30px;">
            <h2>Version History</h2>

            <table>
                <thead>
                    <tr>
                        <th>Doc_Name</th>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Uploaded By</th>
                    </tr>
                </thead>
                <tbody id="versionsTable"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const parts = window.location.pathname.split('/');
    const docId = parts[2];


        async function loadVersions() {
            try {
                const response = await fetch('/versions/allVersions');
                const versions = await response.json();

                const table = document.getElementById('versionsTable');
                table.innerHTML = '';

                versions.forEach(v => {
                console.log("Версия данни:", v);

                        table.innerHTML += `
                            <tr>
                                <td>${v.docName ?? '-'}</td>
                                <td>${v.documentVersion ?? '-'}</td>
                                <td>${v.checkedAT ?? '-'}</td>
                                <td>${v.name ?? '-'}</td>

                            </tr>
                        `;

                });

            } catch (err) {
                console.error(err);
                alert("Failed to load versions");
            }
        }
        async function loadDocument() {
        try {
            const response = await fetch('/documents/' + docId);
            const doc = await response.json();

            document.getElementById('docTitle').innerText = doc.name;

        } catch (err) {
            console.error(err);
            alert("Failed to load document");
        }
    }

   async function approveDoc() {
    try {
        const response = await fetch('/approve', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                document_id: Number(docId),
                edit: 'APPROVED'
            })
        });

        if (response.ok) {
            alert('Document approved!');
            window.location.reload();
            const badge = document.querySelector('.badge');
            if (badge) {
                badge.innerText = 'APPROVED';
                badge.className = 'badge badge-approved';
            }
        } else {
            alert('Грешка при одобрение: ' + await response.text());
        }
    } catch (err) {
        console.error(err);
        alert('Server error');
    }
}

    async function rejectDoc() {
        try {
           const response= await fetch('/decline', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    document_id: Number(docId),
                    edit: 'rejected'
                })
            });

 if (response.ok) {
            alert('Document rejected!');
            window.location.reload();
            const badge = document.querySelector('.badge');
            if (badge) {
                badge.innerText = 'REJECTED';
                badge.className = 'badge badge-rejected';
            }
        } else {
            alert('Грешка при одобрение: ' + await response.text());
        }



        } catch (err) {
            console.error(err);
            alert('Reject failed');
        }
    }

    async function versionDone(){

    try{
    const response= await fetch('/versions/done',{
           method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    document_id: Number(docId)
    })
    });

        if (response.ok) {
            alert('Document is finished!');
            window.location.reload();
            const badge = document.querySelector('.badge');
            if (badge) {
                badge.innerText = 'STILL';
                badge.className = 'badge badge-still';
            }
        } else {
            alert('Грешка при одобрение: ' + await response.text());
        }
    }
    catch(err){
    console.error(err)
    alert('Finished failed'); }
    }


    loadVersions();
</script>

</body>
</html>